doctype html
html(lang="en")
	head
		title!= title
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		script(src="static/js/jquery-2.1.1.min.js" type="text/javascript")
		link(rel="stylesheet" href="static/css/bootstrap.min.css")
		link(rel="stylesheet" href="static/css/bootstrap-theme.min.css")
		link(rel="stylesheet" href="static/css/login.css")
		script(src="static/js/bootstrap.min.js" type="text/javascript")

	body
		div(class="container")
			form(class="form-signin" role="form" action="/signin" method="post")
				h3(class="form-signin-heading login-title-color") Welcome to LonelyChat
				input(type="text" name="username" class="form-control" placeholder="Username" required autofocus)
				input(type="password" name="password" class="form-control" placeholder="Password" required)
				button(type="submit" class="btn btn-primary btn-block") Sign In
			form(class="form-signin" role="form" action="/signup" method="post")
				h5(class="form-signin-heading login-title-color")!= signup_error
				h5(class="form-signin-heading login-title-color") Do not have a username?
				input(type="text" name="newusername" class="form-control" placeholder="Username" required)
				input(type="password" name="password1" class="form-control" placeholder="Password" required)
				input(type="password" name="password2" class="form-control" placeholder="Password Confirm" required)
				button(type="submit" class="btn btn-primary btn-block") Sign Up