doctype html
html(lang="en")
	head
		title!= title
		meta(charset="UTF-8")
		script(src="static/js/socket.io.js" type="text/javascript")
		script(src="static/js/jquery-2.1.1.min.js" type="text/javascript")
		script(src="static/js/socket-listener.js" type="text/javascript")
	body
		h3 Log
		hr
		ul(id="board")
		hr
		input(id="chatMsg" type="text" value="")
		